{% extends 'fragment/fragment_modal.html.twig' %}

{% block title %}
    <h4>{% trans %}EDIT{% endtrans %}</h4>
{% endblock %}

{% block body %}
    <form id="adminForm" class="form-horizontal"  role="form" name="adminForm" ng-submit="processForm()">
        <input name="appbundle_polygon[path]" id="path" type="hidden" ng-model="source.path">
        <div class="form-group">
            <div class="input-error">
                {{  form_errors(edit_form.name) }}
            </div>
            {{ form_label(edit_form.name, 'NAME' | trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                <div class="input-group">
                    <span class="input-group-addon">*</span>
                    {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>   

        <ng-map id="map_edit_polygon"  style="width: 100%; min-height: 400px; position: block;" center="-2.901895761873221,-79.01779174804688" zoom="12">
            <drawing-manager
                on-overlaycomplete="onMapOverlayCompleted()"
                drawing-control-options="{position: 'TOP_CENTER',drawingModes:['polygon']}"
                drawingControl="true"
                drawingMode="POLYGON"
                polygonOptions="{editable: true}"
                rectangleOptions="{fillColor:'red'}"
                circleOptions="{fillColor: '#FFFF00',fillOpacity: 1,strokeWeight: 5,clickable: false,zIndex: 1,editable: true}" >
            </drawing-manager>
            <shape name="polygon" 
                   editable="false"
                   paths="{{ entity.pathShape }}"
                   stroke-color="#FF0000"
                   stroke-opacity="0.8"
                   stroke-weight="2"
                   fill-color="#FF0000"
                   fill-opacity="0.35">
            </shape>
        </ng-map>

        <div class="form-group">
            {{ form_errors(edit_form.status) }}
            {{ form_label(edit_form.status, 'STATUS' | trans, {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(edit_form.status) }}
            </div>
        </div>

        {{ form_errors(edit_form._token) }}
        {{ form_widget(edit_form._token) }}

        {% include 'fragment/fragment_new.html.twig'%}
    </form>

{% endblock %}


